{% extends "dashboard/basedsh.html" %}  

{% block extraClassHmenu %}
hidden
{% endblock extraClassHmenu %}

{% block content %}
<div class="flex flex-col flex-grow p-6 m-10">
  <h2 class="text-xl font-semibold mb-4">Create a New Task</h2>

  <p class="mb-4">Hello, {{ user.username|capfirst }}!</p> <!-- Muestra el nombre del usuario en mayúsculas -->

  <form method="post">
      {% csrf_token %}
      {{ form.as_p }} <!-- Muestra el formulario como párrafos -->

      <button type="submit" class="rounded-md bg-blue-400 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-blue-300">
          Save Task
      </button>
      <a
    class=" rounded-md bg-blue-400 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-blue-300"
    href="/dashboard/task"
  >
    Cancel
  </a>
  </form>
  
</div>
{% endblock content %}