{% extends "dashboard/basedsh.html" %}

{% block contentHmenu %}
<div class="container flex flex-wrap flex-col md:flex-row items-center p-5">
  <h2 class="m-4">Actualizar Tarea</h2>
  <div class="md:ml-auto flex flex-wrap items-center text-base justify-center"></div>
</div>
{% endblock contentHmenu %}

{% block content %}
<div class="container mx-auto p-4">
  <h2 class="text-xl mb-4">Actualizar Tarea: {{ task.title }}</h2>
  <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %}
    {{form.as_p}}
    <div class="flex items-center justify-between mt-4">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Actualizar
      </button>
    </div>

    <a href="{% url "task" %}" class="flex items-center justify-between mt-4 bg-blue-400 rounded-full max-w-10">
        <svg class="w-6 h-6 m-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
          </svg>
          
    </a>
  </form>
</div>
{% endblock content %}
